/* ===============================
   HEADER
================================ */

.header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #ffffff;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
    padding: 0 20px;
}

/* ===============================
   LOGO
================================ */

.logo {
    font-size: 21.328px;
    font-weight: 700;
    transition: color 0.3s;
}

.header a:hover .logo {
    color: var(--cor-menu-ativo);
}

/* ===============================
   NAV (DESKTOP)
================================ */

.header nav {
    position: relative;
    
}

.header nav ul {
    display: flex;
    gap: 10px;
}

.header nav a {
    font-weight: 400;
    padding: 30px;
    border-radius: 50px;
    transition: 0.3s;
}

.header nav a:hover {
    color: var(--cor-menu-ativo);
    text-decoration: underline;
}

/* ===============================
   MENU BUTTON (HAMBURGUER)
================================ */

.menu-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    width: 60px;
    height: 60px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.hamburguer {
    background-color: #000;
    width: 30px;
    height: 2px;
    margin: 3px 0;
    transition: 0.4s ease-in-out;
}

.hamburguer.open:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburguer.open:nth-child(2) {
    opacity: 0;
}

.hamburguer.open:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}

/* ===============================
   MOBILE
================================ */

@media (max-width: 900px) {

    
    .header nav ul {
        display: none;
    }

    .menu-button {
        display: block;
    }

    @media (max-width: 900px) {
        .header nav ul.open {
            display: flex;
            flex-direction: column;
            position: absolute;

            top: calc(100% + 10px);
            right: 0;

            width: 200px;
            padding: 20px;
            background-color: #ffffff;

            border-radius: 8px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
            z-index: 1000;
        }
    }


    .header nav ul.open a {
        padding: 15px;
        text-align: center;
        display: block;
    }

   
    .logo {
        display: none;
    }
}