/* Estilos da Seção Home */
.home {
    grid-area: home;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85vh;
}

.home p {
    font-size: 1.802rem;
}

.home span {
    font-size: 2.281rem;
    font-weight: 700;
}

.home img {
    width: 35%;
}

.social {
    display: flex;
    flex-direction: column;
}

.social-sobre {
    margin: 2.5rem 0;
}

.social-sobre a {
    border-radius: 3.125rem;
    padding: 0.625rem 1.875rem;
    border-style: solid;
    font-size: 1.266rem;
}

.social-sobre a:hover {
    color: var(--cor-ativo);
    background-color: var(--cor-bg-ativo);
}

.icone-social {
    display: flex;
    justify-content: center;
    font-size: 1.802rem;
}

.icone-social a {
    margin: 0.625rem;
}

.home:after {
    height: 2.188rem;
    bottom: 2.5rem;
    right: 37.5rem;
    position: absolute;
}

@media (max-width: 900px) {
    .home {
        height: auto;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0 1.25rem;
    }

    .home img {
        display: none;
    }

    .home p,
    .home span {
        text-align: center;
    }

    .social {
        align-items: center;
    }
}