/* Estilos da Seção Projetos */
.projetos {
    grid-area: projetos;
    display: grid;
    height: 92vh;
}

.projeto {
    margin-bottom: 40px;
}

.projetos .projetos-container .projeto-informacoes {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    border-radius: 20px;
    margin: 20px 0;
}

.projetos .projetos-container .projeto-informacoes .projeto {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.projetos .projetos-container .projeto-informacoes .projeto a {
    width: 45%;
}

.projetos .projetos-container .projeto-informacoes .projeto .imagem-projeto {
    width: 45%;
}

.projetos .projetos-container .projeto-informacoes .projeto .imagem-projeto .demo-projeto {
    width: 100%;
    margin: 20px 0;
    border-radius: 20px;
}

.projetos .projetos-container .projeto-informacoes .projeto .descricao-projeto {
    margin: 20px;
    width: 40%;
    text-align: justify;
}

.projetos .projetos-container .projeto-informacoes .projeto .descricao-projeto .tecnologias-usadas {
   gap: 20px;
}

.projetos .projetos-container .projeto-informacoes .projeto .descricao-projeto .tecnologias-usadas img {
    width: 30px;
    height: 30px;
    margin: 3px;
  
    
}

.projetos .projetos-container .projeto-informacoes .projeto .descricao-projeto p {
    margin: 20px 0;
}

.projetos .projetos-container .projeto-informacoes .projeto .descricao-projeto .botoes-projeto {
    display: flex;
    align-items: center;
}

.projetos .projetos-container .projeto-informacoes .projeto .descricao-projeto .visite-projeto {
    border-style: solid;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    white-space: nowrap;
    text-align: center;
}

.projetos .projetos-container .projeto-informacoes .projeto .descricao-projeto .visite-projeto:hover {
    color: var(--cor-ativo);
    background-color: var(--cor-bg-ativo);
}

.projetos .projetos-container .projeto-informacoes .projeto .descricao-projeto .codigo-projeto {
    font-size: 40px;
    margin-left: 20px;
}
.git_icon{
    font-size: 45px;
    display: flex;
    align-items: center;
}