/* Estilos da Seção Projetos */
.projetos {
    grid-area: projetos;
    display: grid;
}

.projeto {
    margin-bottom: 40px;
}

.projeto-informacoes {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    border-radius: 20px;
    margin: 20px 0;
}

.projeto {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.projeto a {
    width: 45%;
}

.imagem-projeto {
    width: 45%;
}

.demo-projeto {
    width: 100%;
    margin: 20px 0;
    border-radius: 20px;
}

.descricao-projeto {
    margin: 20px;
    width: 40%;
    text-align: justify;
}

.tecnologias-usadas {
    gap: 20px;
}

.tecnologias-usadas img {
    width: 30px;
    height: 30px;
    margin: 3px;
}

.descricao-projeto p {
    margin: 20px 0;
}

.botoes-projeto {
    display: flex;
    align-items: center;
}

.visite-projeto {
    border-style: solid;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 1rem;
    white-space: nowrap;
    text-align: center;
}

.visite-projeto:hover {
    color: var(--cor-ativo);
    background-color: var(--cor-bg-ativo);
}

.codigo-projeto {
    font-size: 40px;
    margin-left: 20px;
}

.git_icon {
    font-size: 45px;
    display: flex;
    align-items: center;
}

@media (max-width: 900px) {
    .projetos {
        height: auto;
        padding: 2rem 0;
    }

    .projetos-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .projeto {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }

    .descricao-projeto {
        width: 80%;
    }

    .descricao-projeto h3 {
        text-align: center;
    }
    .tecnologias-usadas {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
     }
     .botoes-projeto{
        justify-content: center;
        margin-top: 0.5rem;
     }
     .projeto .visite-projeto{
        width: 25%;
     }
     .projeto .btn-github{
        margin-left: 10px;
        width: 10%;
     }
     

    
}